@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}
@media only screen and (max-width: 650px) {
  html {
    font-size: 50%;
  }
}

body {
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e8e8e8;
}

.btn {
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 0.75em;
  background: #000000;
}
.btn__top {
  display: block;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 0.75em;
  padding: 0.75em 1.5em;
  background: #e8e8e8;
  color: #000000;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.btn:hover .btn__top {
  transform: translateY(-0.33em);
}

.btn:active .btn__top {
  transform: translateY(0);
}

.sliders {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.range {
  height: 50px;
  width: 225px;
  background: #e8e8e8;
  border-radius: 10px;
  padding: 0 65px 0 45px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.sliderValue {
  position: relative;
  width: 100%;
}

.sliderValue span {
  position: absolute;
  height: 32px;
  width: 32px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -27px;
  line-height: 35px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.sliderValue span.show {
  transform: translateX(-15%) scale(1);
}

.sliderValue span:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #664aff;
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-79%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.field .value {
  position: absolute;
  font-size: 18px;
  color: #664aff;
  font-weight: 600;
}

.field .value.left {
  left: -22px;
}

.field .value.right {
  right: -43px;
}

.range input {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}

.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664aff;
  border: 1px solid #664aff;
  cursor: pointer;
}

.range input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664aff;
  border: 1px solid #664aff;
  cursor: pointer;
}

.range input::-moz-range-progress {
  background: #664aff;
}

.header {
  height: 3rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #15bfa6;
  background-image: -webkit-linear-gradient(45deg, #15bfa6 23%, #e0d100 52%, #ce2af4 85%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.5rem;
}
.nav__item {
  list-style: none;
  margin-right: 0.5rem;
}
.nav__link {
  display: inline-block;
  padding: 0.5rem 2rem;
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: rgba(0, 0, 0, 0.75);
}
.nav__link:active {
  color: #15bfa6;
}

.arm {
  margin-left: 7rem;
  margin-bottom: 1rem;
}
.arm__name {
  font-weight: 400;
}

.containers {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  margin-right: 3rem;
}

/*# sourceMappingURL=main.css.map */
